[Unit]
Description=Configure greeter for first boot or normal login
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/universal-lite-greeter-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
