[Unit]
Description=Universal-Lite first-boot setup wizard
ConditionPathExists=!/var/lib/universal-lite/setup-done
Before=greetd.service
After=systemd-udev-settle.service dbus.service NetworkManager.service accounts-daemon.service
Wants=NetworkManager.service accounts-daemon.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStart=/bin/cage -s -- /usr/bin/universal-lite-setup-wizard
Environment=WLR_NO_HARDWARE_CURSORS=1 XDG_RUNTIME_DIR=/run/user/0
TTYPath=/dev/tty7
StandardInput=tty-force
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
