[Unit]
Description=Add wheel members to docker, incus-admin, and libvirt groups

[Service]
Type=oneshot
ExecStart=/usr/bin/universal-lite-dx-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
