[Desktop Entry]
Type=Application
Name=Mousepad
Comment=Simple Text Editor
GenericName=Text Editor
Exec=mousepad %U
Icon=org.xfce.mousepad
Terminal=false
NoDisplay=true
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;application/x-zerosize;text/x-python;
