[Desktop Entry]
Name=Universal-Lite Settings
Comment=Adjust panel placement, theme, and wallpaper
Exec=universal-lite-settings
Terminal=false
Type=Application
Icon=preferences-desktop
Categories=GTK;Settings;DesktopSettings;
